Dear {{ .Values.customer.name }},

I am writing to wish you a happy birthday. You are {{ .Values.customer.age }} years old now. I hope that you enjoy the day.

Many happy returns!

Kind regards,

{{ .Values.myName }}
